In [1]:
import numpy as np
import pandas as pd

In [3]:
label = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a' : 10, 'b' : 20, 'c' : 30}

In [4]:
arr

array([10, 20, 30])

In [5]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data = my_data, index = label)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data, label)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(arr, label)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(d)['b']

20

In [19]:
ser1 = pd.Series([1,2,3,4],['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [22]:
ser1['USA']

1

In [24]:
ser3 = pd.Series(label)
ser3

0    a
1    b
2    c
dtype: object

In [25]:
ser3[2]

'c'

In [26]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [29]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [30]:
ser2 + ser1

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [31]:
# DATAFRAMES

In [32]:
import numpy as np
import pandas as pd

In [33]:
from numpy.random import randn

In [34]:
np.random.seed(101)

In [37]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [38]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [39]:
df.Z

A   -1.159119
B    0.184502
C    0.329646
D    0.484752
E    1.996652
Name: Z, dtype: float64

In [62]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752

In [63]:
df['new'] = df['W'] + df['Y']

In [64]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510

In [65]:
df1 = df.drop('new', axis=1)

In [66]:
df1

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [67]:
df.drop('new', axis=1, inplace=True)

In [68]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [71]:
df.shape

(4, 4)

In [72]:
df.loc['B']

W   -0.134841
X    0.390528
Y    0.166905
Z    0.184502
Name: B, dtype: float64

In [73]:
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [76]:
df.loc['B', 'Y']

0.16690463609281317

In [77]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [78]:
df.loc[['A','B'], ['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905